<div id="inbox-message-{{message.pk}}">
  <h3 class="subject_line">subject: <a href="{% url 'private_messages:detail' pk=message.pk %}">{{message.subject}}</a></h3>
  <p>sender: {{message.sender.username}}</p>
  <p>
    {% if user.is_authenticated and not hide_delete %}
      <button id="reply-button-{{message.pk}}" class="reply-button btn btn-primary" type="button" name="button">Reply</button>
      <a class='pm-delete' href="{% url 'private_messages:delete' pk=message.pk %}" title="delete" class="btn btn-simple">
        <span class="glyphicon glyphicon-remove text-danger"></span>
        <span class="text-danger icon-label">Delete</span>
      </a>
    {% endif %}
  </p>
</div>
