{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 95%;
        width: 60%;
        margin-top: -1.4%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <div class="container">
      <div class="customnav">
          {% if user.is_authenticated %}
          <div>
              <form class="locator" method="post">
                {% csrf_token %}
                <input type="textarea" name="description" placeholder="description" value="">
                <input id="latitude" type="text" name="latitude" placeholder="latitude" value="">
                <input id="longitude" type="text" name="longitude" placeholder="longitude" value="">
                <input type="submit" value="find a lost item">
              </form>
          </div>
          <div>
              <form class="locator" method="post">
                {% csrf_token %}
                <input type="textarea" name="description" placeholder="description" value="">
                <input id="latitude" type="text" name="latitude" placeholder="latitude" value="">
                <input id="longitude" type="text" name="longitude" placeholder="longitude" value="">
                <input type="submit" value="report found item">
              </form>
          </div>
          <div class="nav-element">
            <a class="logout-btn" href="{% url 'accounts:logout' %}"class="btn btn-simple">Log Out</a>
          </div>
          {% else %}
          {% include "accounts/login.html" %}
          {% endif %}
      </div>
    </div>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 42.174307, lng: -88.559105}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 41.563910, lng: -88.154112},
        {lat: 41.718234, lng: -88.363181},
        {lat: 41.727111, lng: -88.371124},
        {lat: 41.848588, lng: -88.209834},
        {lat: 41.851702, lng: -88.216968},
        {lat: 41.671264, lng: -88.863657},
        {lat: 41.304724, lng: -88.662905},
        {lat: 42.817685, lng: -88.699196},
        {lat: 42.828611, lng: -88.790222},
        {lat: 42.750000, lng: -89.116667},
        {lat: 42.759859, lng: -89.128708},
        {lat: 42.765015, lng: -89.133858},
        {lat: 42.770104, lng: -89.143299},
        {lat: 42.773700, lng: -89.145187},
        {lat: 42.774785, lng: -89.137978},
        {lat: 42.819616, lng: -89.968119},
        {lat: 40.330766, lng: -89.695692},
        {lat: 40.927193, lng: -89.053218},
        {lat: 40.330162, lng: -90.865694},
        {lat: 40.734358, lng: -90.439506},
        {lat: 40.734358, lng: -90.501315},
        {lat: 40.735258, lng: -90.438000},
        {lat: 40.999792, lng: -90.463352}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcuqDYt5X1kbAHj0MbEOPvZTDaLXnw7Uw&callback=initMap">
    </script>
    <script>
      $('.locator').on('submit',function(e){
        e.preventDefault();
        var that = $(this)
        var data = that.serialize();
        createLostItem();
        function createLostItem() {
          $.ajax({
            url  : "createlostitem/",
            type : "POST",
            data : data,
            success : function(json) {
              that.find('input[name="description"]').val('')
              that.find('input[name="latitude"]').val('')
              that.find('input[name="longitude"]').val('')
              var latitude = json['latitude']
              var longitude = json['longitude']
              var description = json['description']
              var myLatlng = new google.maps.LatLng(latitude,longitude);
              var mapOptions = {
                zoom: 6,
                center: myLatlng
              }
              var map = new google.maps.Map(document.getElementById("map"), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  title:"Hello World!"
              });

              // To add the marker to the map, call setMap();
              marker.setMap(map);
            }
          })
        }
        // // var myLatLng = {lat: parseInt(latitude), lng: parseInt(longitude)}
      })

      $('.login-form').on('submit',function(e){
        e.preventDefault();
        var that = $(this)
        console.log('accounts/'+that.attr('action'))
        login()
        function login() {
          $.ajax({
            url  : 'accounts/'+that.attr('action'),
            type : "POST",
            success: function() {
              console.log('success')
            }
          })
        }
      })
    </script>
  </body>
</html>
