{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      #map {
        height: 95%;
        width: 60%;
        margin-top: -1.4%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />
    <div class="container">
      <div class="customnav">
          {% if user.is_authenticated %}
          <div>
              <form id="createlostitem/" class="locator" method="post">
                {% csrf_token %}
                <input type="textarea" name="description" placeholder="description" value="">
                <input id="latitude" type="text" name="latitude" placeholder="latitude" value="">
                <input id="longitude" type="text" name="longitude" placeholder="longitude" value="">
                <input type="submit" value="find a lost item">
              </form>
          </div>
          <div>
              <form id="createfounditem/" class="locator" method="post">
                {% csrf_token %}
                <input type="textarea" name="description" placeholder="description" value="">
                <input id="latitude" type="text" name="latitude" placeholder="latitude" value="">
                <input id="longitude" type="text" name="longitude" placeholder="longitude" value="">
                <input type="submit" value="report found item">
              </form>
          </div>
          <div class="nav-element">
              <a class="logout-btn" href="{% url 'accounts:logout' %}"class="btn btn-simple">Log Out</a>
          </div>
          <div class="nav-element">
            <a class='view-profile' href="{% url 'accounts:profile' pk=request.user.pk %}">View Profile</a>
          </div>
          {% else %}
          {% include "accounts/login.html" %}
          {% endif %}
      </div>
    </div>
    <div id="map"></div>
    <script>
    var labels = [];
    var itemDescriptions = [];
    var userIds = [];
    var locations = [];
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 42.174307, lng: -88.559105}
        });

        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i]
          });
        });
        for (i in markers) {
          attachSecretMessage(markers[i], itemDescriptions[i], userIds[i])
        }

        function attachSecretMessage(marker, itemDescription, userId) {
          var userContact = "<a href='#' id='contact-user-"+userId+"'>contact</a><p>"+itemDescription+"</p>"
          var infowindow = new google.maps.InfoWindow({
            content: userContact
          });

          marker.addListener('click', function() {
            infowindow.open(marker.get('map'), marker);
          });
        }

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      // if you value your sanity, avoid the lump of regex slicing presented below.
      // just accept that it works.
      var lostItems = "{{ lost_items_array|safe }}"
      var lostItemsArray = lostItems.match(/[^,]+,[^,]+,[^,]+,[^,]+/g);
      // this splits the string every 4th comma, since we have 4 pieces of info per hash
      var foundItems = "{{ found_items_array|safe }}"
      var foundItemsArray = foundItems.match(/[^,]+,[^,]+,[^,]+,[^,]+/g);
      for (var i=0; i<foundItemsArray.length; i++) {
        if (i == 0) {
          foundItemsArray[i] = foundItemsArray[i].slice(1,foundItemsArray[i].length)
        } else if (i == (foundItemsArray.length-1)) {
          foundItemsArray[i] = foundItemsArray[i].slice(0,-1)
        }
        foundItemsArray[i] = foundItemsArray[i].match(/[^,]+/g);
      }
      for (var i=0; i<lostItemsArray.length; i++) {
        if (i == 0) {
          lostItemsArray[i] = lostItemsArray[i].slice(1,lostItemsArray[i].length)
        } else if (i == (lostItemsArray.length-1)) {
          lostItemsArray[i] = lostItemsArray[i].slice(0,-1)
        }
        lostItemsArray[i] = lostItemsArray[i].match(/[^,]+/g);
      }
      for (var i=0; i<lostItemsArray.length; i++) {
        locations.push({lat: parseFloat(lostItemsArray[i][1].match(/[^:]+/g)[1]), lng: parseFloat(lostItemsArray[i][2].match(/[^:]+/g)[1])})
        labels.push('lost')
        itemDescriptions.push(lostItemsArray[i][0].match(/[^:]+/g)[1])
        userIds.push(lostItemsArray[i][3].match(/[^:]+/g)[1].slice(1,-1))
      }
      for (var i=0; i<foundItemsArray.length; i++) {
        locations.push({lat: parseFloat(foundItemsArray[i][1].match(/[^:]+/g)[1]), lng: parseFloat(foundItemsArray[i][2].match(/[^:]+/g)[1])})
        labels.push('found')
        itemDescriptions.push(foundItemsArray[i][0].match(/[^:]+/g)[1])
        userIds.push(foundItemsArray[i][3].match(/[^:]+/g)[1].slice(1,-1))
      }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcuqDYt5X1kbAHj0MbEOPvZTDaLXnw7Uw&callback=initMap">
    </script>
    <script>
      $('.locator').on('submit',function(e){
        e.preventDefault();
        var that = $(this)
        var data = that.serialize();
        createLostItem();
        function createLostItem() {
          $.ajax({
            url  : that.attr('id'),
            type : "POST",
            data : data,
            success : function(json) {
              that.find('input[name="description"]').val('')
              that.find('input[name="latitude"]').val('')
              that.find('input[name="longitude"]').val('')
              var latitude = json['latitude']
              var longitude = json['longitude']
              var description = json['description']
              var myLatlng = new google.maps.LatLng(latitude,longitude);
              var mapOptions = {
                zoom: 8,
                center: myLatlng
              }
              var map = new google.maps.Map(document.getElementById("map"), mapOptions);

              var marker = new google.maps.Marker({
                  position: myLatlng,
                  title:"Hello World!"
              });

              // To add the marker to the map, call setMap();
              marker.setMap(map);
            }
          })
        }
        // // var myLatLng = {lat: parseInt(latitude), lng: parseInt(longitude)}
      })

      $('.login-form').on('submit',function(e){
        e.preventDefault();
        var that = $(this)
        login()
        function login() {
          $.ajax({
            url  : 'accounts/'+that.attr('action'),
            type : "POST",
            success: function() {
            }
          })
        }
      })
    </script>
  </body>
</html>
