.nav-element {
  position: relative;
  left: -5.2%;
}

.login-form {
  position: relative;
  left: 60%;
}

/*.customnav {
  position: relative;
  right: 5.4%;
  bottom: 70px;
}*/
.messages{
  position: relative;
  left: 60.1%;
}
